$white-1: #ffffff;
$white-2: #f5f6f7;
$white-3: #e2e6ec;

$grey-1: #21232b;
$grey-2: #2d3037;
$grey-3: #3d434a;
$grey-4: #727e8b;
$grey-5: #c1c0c8;

$green-1: #2b6953;
$green-2: #3c9273;
$green-3: #54b693;

$margin-top: 60px;
$border-radius: 4px;
$button-height: 50px;
